@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    @*<br />*@
    Leander, TX 78641<br />
    <abbr title="Phone">P:</abbr>
    720.273.5559
</address>

<address>
    <strong>Support:</strong> <a href="mailto:dsendtec@gmail.com">dsendtec@gmail.com</a><br />
</address>
